* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, 'Segoe UI', sans-serif;
}

/* Variables */
:root {
  --color10: hsl(31, 80%, 10%);
  --color30: hsl(31, 80%, 30%);
  --color90: hsl(31, 80%, 90%);
  --color100: hsl(31, 80%, 100%);
  --color2: hsl(0, 0%, 76%);
  --color2RGBA: 194, 190, 182;
  --accent: hsl(31, 80%, 70%);
  --ff: "Noto Sans JP", serif;
  --ff2: "Fira Sans", serif;
  --ff3: "Poppins, 'Segoe UI', sans-serif";
  --p: 1rem/1.5em var(--ff);
  --h1: 600 3rem/1.2em var(ff3);
  --h2: 600 2rem/1.2em var(--ff2);
  --font-size: 1.5rem;
  --font-size2: 0.7rem;
  --font-size3: 2.5rem;
  --max-width: 2.5vw;
  --spacing1: 4px;
  --spacing2: 8px;
  --spacing3: 16px;
  --spacing4: 20px;
  --spacing5: 40px;
  --spacing6: 80px;
  --spacing7: 160px;
  --90: 90%;
  --100: 100%;
  --label-translate-y: -42px;
  --label-translate-y-back: -13px;
  --transition03: 0.3s;
}
input, label {
  font-family: inherit;
}
.font1 {
  font-size: var(--font-size);
}
.font2 {
  font-size: var(--font-size3);
}
html {
  scroll-behavior: smooth;
}
body {
  text-wrap: balance;
  font: var(--p);
  color: var(--color10);
}
h1 {
  font: var(--h1);
  color: black;
  transform: scale(var(--scale, 1));
}
h2 {
  font: var(--h2);
  margin: var(--spacing2) 0;
}
p {
  margin: var(--spacing2) 0;
}
a {
  color: var(--color10);
  text-decoration: none;
}
a:hover {
  color: var(--color30);
}
.absolute {
  position: absolute;
}
.transition03 {
  transition: var(--transition03);
}
.relative {
  position: relative;
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing4);
  flex-wrap: wrap;
}
.flex-left {
  align-items: start !important;
}
.flex > * {
  flex: 0 1 auto;
  min-width: 400px;
}
.reverse {
  flex-direction: row-reverse;
}
.padding1 {
  padding: var(--spacing1) 0;
}
.padding2 {
  padding: var(--spacing2) 0;
}
.padding3 {
  padding: var(--spacing3) 0;
}
.padding4 {
  padding: var(--spacing4) 0;
}
.padding5 {
  padding: var(--spacing5) 0;
}
.padding6 {
  padding: var(--spacing6) 0;
}
.padding7 {
  padding: var(--spacing7) 0;
}
.padding-author {
  padding: var(--spacing1) var(--spacing4);
}
.margin1 {
  margin: var(--spacing1) auto;
}
.margin2 {
  margin: var(--spacing2) auto;
}
.margin3 {
  margin: var(--spacing3) auto;
}
.margin4 {
  margin: var(--spacing4) auto;
}
.margin5 {
  margin: var(--spacing5) auto;
}
.margin6 {
  margin: var(--spacing6) auto;
}
.margin7 {
  margin: var(--spacing7) auto;
}
.margin-top {
  margin-top: var(--spacing2);
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.position-fixed {
  position: fixed;
}
.width100 {
  width: 100%;
}
.width90 {
  width: 90%;
}
.fixed-center {
  top: 50%;
  left: 50%;
}
.translate50 {
  translate: -50% -50%;
}
.translate50plus {
  translate: -50% -50%;
}
.input {
  flex: 0 1 var(--90);
  min-width: var(--90);
  height: var(--spacing5);
  outline: none;
  border: none;
  padding: var(--spacing2);
}

.input + label {
  top: 45px;
  left: 25px;
  pointer-events: none;
}

.input-info {
  top: 62px;
  left: 15px;
  color: red;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(var(--label-translate-y));
  transition: var(--transition03);
}

.input:not(:focus):placeholder-shown + .label {
  transform: translateY(var(--label-translate-y-back));
  transition: var(--transition03);
}

@mixin transitionForButton {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button {
  border: 2px solid red;
  background-color: red;
  color: white;
  cursor: pointer;
  @include transitionForButton;
}

.cta-button:hover {
  background-color: white;
  color: black;
  @include transitionForButton;
}

.cta-button:disabled {
  background-color: var(--color2);
  border: none;
  color: white !important;
  cursor: default;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("../resources/source.gif");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

.border-radius {
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-bottom-right-radius: 10px;
}

.login-container {
  flex: 1;
  width: auto;
  min-width: 300px;
  max-width: 100%;
  background-color: rgba(var(--color2RGBA), 50%);
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-bottom-right-radius: 10px;
}
.width-auto {
  width: auto;
}
.nav-container {
  background-color: cadetblue;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.content > ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: var(--font-size);
  gap: var(--spacing5);
  font-size: var(--font-size);
  flex-grow: 1;
}

ul li:first-child {
  margin-right: auto;
}

.content > ul > li {
  list-style: none;
}
.post-content {
  box-sizing: border-box;
  height: auto;
}
.post-content:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.font1, .font2 {
  transition: font-size 0.3s ease-in-out;
}
.opacity100 {
 background-color: rgba(194, 190, 182, 100%);
}
.text-in-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media(max-width: 576px) {
  .login-container {
    width: 100%;
    border-end-end-radius: 0px;
  }
}
