<div class="background">
</div>
<div class="login-container fixed-center position-fixed translate50 padding4">
  <h1 class="center padding4" style="--scale: 2">HERE IS FULL GRIP</h1>
  <div class="padding2 flex relative">
    <input type="text" class="input margin2 " placeholder="">
    <label class="label absolute">Email</label>
  </div>
  <div class="padding2 flex relative input-animation">
    <input type="password" class="input margin2 " placeholder="">
    <label class="label absolute">Password</label>
  </div>
  <div class="padding2 flex relative">
    <button type="submit" class="input margin2 cta-button" placeholder="">LOGIN</button>
  </div>
</div>

