<div class="background">
</div>
<div class="center-container">
  <div class="flex-center-column">
    <h1 class="title">HERE IS FULL GRIP</h1>
    <div class="input-container">
      <input class="inputForm" type="text" placeholder="">
      <label class="placeholder">Email</label>
    </div>
    <div class="input-container">
      <input class="inputForm" type="text" placeholder="">
      <label class="placeholder">Password</label>
    </div>
    <button class="cta-button red-button" type="submit">Login</button>
  </div>
</div>

